__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.log

.env
.venv/
venv/
env/

.vscode/
.idea/

*.sqlite3

dist/
build/
*.spec

*.ipynb_checkpoints

.DS_Store
Thumbs.db

venv/
__pycache__/
*.pyc
dist/
build/
.env